.bg-main {
  background: $main-color;
}

.text-main {
  color: $main-color;
}

.bg-main-light {
  background: $main-light-color;
}

.bg-none {
  background: none;
}

.text-title {
  color: $title-color;
}

.text-grey {
  color: $grey;
}

.bg-grey {
  background: $grey;
}

.text-grey1 {
  color: $grey1;
}

.border-grey2 {
  border-color: $grey2
}

.bg-grey3 {
  background: $grey3;
}

.bg-red {
  background: $red;
}

.text-red1 {
  color: $red1;
}

.text-black {
  color: $black;
}

.bg-black {
  background: $black1;
}

.bg-black2 {
  background: $black2;
}

.text-black3 {
  color: $black3;
}

.bg-black3 {
  background: $black3;
}