.bg-main {
  background: $main-color;
}

.text-grey {
  color: $grey;
}

.text-grey-1 {
  color: $grey1;
}

.bg-grey-2 {
  background: $grey2;
}

.text-grey-3 {
  color: $grey3;
}

.bg-green {
  background: $green;
}