body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background: #F0F1F4;
}

* {
  outline: none;
  text-outline: none;
}

main {
  .breadcrumb {
    .breadcrumb-item + .breadcrumb-item::before {
      content: $breadcrumb-divider;
    }
  }

  .entry-content {
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    iframe {
      width: 100%;
      max-width: 100%;
    }

    h2 {
      font-size: 20px;
      font-weight: 500;
      line-height: 30px
    }

    h3 {
      font-size: 20px;
      font-weight: 700
    }

    figcaption {
      color: $grey1;
      text-align: center;
      font-style: italic;
    }
  }
}

.trending-topic {
  height: 40px;

  a:not(:last-child):after {
    content: '|';
    margin-left: 5px;
    margin-right: 5px;
  }
}

.bar-mobi {
  height: 40px;

  a:not(:last-child):after {
    content: '|';
    margin-left: 0.5rem;
  }
}

.navbar {
  .navbar-nav {
    .nav-item {
      .nav-link {
        padding: 13px 17px;

        &:hover {
          background: $main-bold-color;
        }
      }

      &.active {
        a {
          background: $main-bold-color;
        }
      }

      &:first-child {
        a {
          border-radius: 5px 0px 0px 0px;
        }
      }
    }
  }
}

.nav-menu {
  top: 0;
  z-index: 9;
}

.sidebar-right {
  min-width: 300px;
}

.border-left-thick {
  border-left: 5px solid $main-bold-color;
}

.max-line-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp:3;
  -webkit-box-orient: vertical;
}

.max-line-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.back-top {
  width: 42px;
  height: 42px;
  bottom: 90px;
  right: 22px;
  z-index: 9999;

  img {
    max-width: 50px;
  }
}