// Small devices (landscape phones, 576px and up)
@media #{$large-mobile} {
  header {
    /*background-image: none !important;
    background-color: $main-color !important;*/
    img {
      height: 40px;
      width: auto;
    }
    #menu-head {
      background-color: $black1;
      z-index: 10;
      transform: translateX(-400px);
      &.open {
        transform: translateX(0);
        transition: transform 0.3s ease, -webkit-transform 0.3s ease;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media #{$md} {
}

// Large devices (desktops, 992px and up)
@media #{$xl} {
}

// Extra large devices (large desktops, 1200px and up)
@media #{$lg} {
  .font-lg-25 {
    font-size: 25px;
  }
  .font-lg-28 {
    font-size: 28px;
  }
  .position-lg-static {
    position: static !important;
  }
  .position-lg-absolute {
    position: absolute !important;
  }
  .bg-lg-transparent {
    background: transparent !important;
  }
  .w-lg-100 {
    width: 100% !important;
  }
  .overflow-lg-none {
    overflow: unset !important;
  }

  .dropdown-menu {
    background: $main-color !important;
    min-width: 200px;
  }
}